<ion-header>
	<ion-navbar>
		<ion-title>
			TIENDA
			<ion-icon name="cart"></ion-icon>
		</ion-title>
	</ion-navbar>
</ion-header>
 
<ion-content padding>

	<h3 align="center">Categorias</h3>
	<br>

	<ion-searchbar (ionInput)="getItems($event)"></ion-searchbar>
	<br>
	<ion-list>
		<ion-item *ngFor="let item of items" >
			<button ion-item (click)='nuevaPagina();'>{{item.itemnomcategoria}}</button>
			<ion-icon name="eye" item-start></ion-icon>

		</ion-item>
	</ion-list>




</ion-content>
