<!--
  Generated template for the ProductosPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>
      <ion-icon name="logo-dropbox"></ion-icon>
    </ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>

<h3 align="center">REGISTRO PROODUCTOS</h3>
<br>
  <ion-item>
    <ion-label color="primary" floating>Nombre Producto</ion-label>
    <ion-input type="text" [(ngModel)]="productositem.itemproducto"></ion-input>
  </ion-item>
    <!-- <ion-item>
    <ion-label color="primary" floating>Precio</ion-label>
    <ion-input type="number"> [(ngModel)]="productositem.itemprecio"</ion-input>
  </ion-item> -->
    <ion-item>
    <ion-label color="primary" floating>Descripcion</ion-label>
    <ion-input type="text" [(ngModel)]="productositem.itemdescripcion"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label color="primary" floating>Imagen</ion-label>
    <ion-input type="text" [(ngModel)]="productositem.itemimagen"></ion-input>
  </ion-item>
  <ion-item>
  <!-- hacer esto con un radio alert -->
    <ion-label color="primary" floating>Categoria</ion-label>
    <ion-input type="text" [(ngModel)]="productositem.itemcategoria"></ion-input>
  </ion-item>
  <br>
 <button ion-button block (click)="agrega(productositem);">Agregar</button>

</ion-content>
