<!--
  Generated template for the SesionPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title><ion-icon name="contact"></ion-icon></ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

<h3 align="center">Inicio de Sesion</h3>

  <ion-item>
    <ion-input type="text" placeholder="Username"></ion-input>
  </ion-item>

  <ion-item>
    <ion-input type="password" placeholder="Password"></ion-input>
  </ion-item>
<br>
<button ion-button full>inicia sesion</button>



</ion-content>
