<!--
  Generated template for the ShoppinnListPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

	<ion-navbar>
		<ion-title>
			<ion-icon name="pricetags"></ion-icon>
		</ion-title>
		
	</ion-navbar>

</ion-header>


<ion-content padding>

	<h3 align="center">Productos</h3>

<ion-searchbar (ionInput)="getItems($event)"></ion-searchbar>

	<ion-list>
		<ion-item *ngFor="let item of items" >

			<h2>PRODUCTO:{{item.itemproducto}}</h2>
			<p>DESCRIBCION:{{item.itemdescripcion}}</p>
			<p>IMAGEN:{{item.itemimagen}}</p>
			<p>CATEGORIA:{{item.itemcategoria}}</p>
			<ion-icon name="add-circle" item-start></ion-icon>

		</ion-item>
	</ion-list>

</ion-content>
