<!--
  Generated template for the RegistroPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Registro</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

<h3 align="center">¡REGISTRATE!</h3>

  <ion-item>
    <ion-label color="primary" floating>Nombre</ion-label>
    <ion-input type="text" [(ngModel)]="registraitem.itemnombre"></ion-input>
  </ion-item>
    <ion-item>
    <ion-label color="primary" floating>Apellido</ion-label>
    <ion-input type="text" [(ngModel)]="registraitem.itemapellido"></ion-input>
  </ion-item>
    <ion-item>
    <ion-label color="primary" floating>Correo</ion-label>
    <ion-input type="email" [(ngModel)]="registraitem.itemcorreo"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label color="primary" floating>Contraseña</ion-label>
    <ion-input type="password" [(ngModel)]="registraitem.itempass"></ion-input>
  </ion-item>
  <br>
 <button ion-button block (click)="addregistro(registraitem);">Registrarse</button>

</ion-content>
