<ion-header>
  <ion-navbar>
    <ion-title><ion-icon name="home"></ion-icon></ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding class="card-background-page">

 <ion-card>
  <img src="../assets/imgs/ropa5.jpg">
  <div class="card-title2" color="dark">Bienvenido</div>
  <div class="card-subtitle2"><button ion-button color="secondary" round (click)='otraPagina();'>Registrate</button><button ion-button color="" round (click)='nuevaPagina();'>iniciar sesion</button></div>
</ion-card>
<ion-card>
  <img src="../assets/imgs/ropa3.jpg">
  <div class="card-title">Ropa para todos</div>
</ion-card>

<ion-card>
  <img src="../assets/imgs/ropa2.jpg"/>
  <div class="card-title">Estilos</div>
</ion-card>

<ion-card>
  <img src="../assets/imgs/ropa4.jpg"/>
  <div class="card-title">Colores</div>
</ion-card>



</ion-content>
