page-producto {

	h2{
		background: #32db64;
		color: white;
		padding: 0.5em;
	}

	.card-background-page { 

	ion-card {
		position: relative;
		text-align: center;
	}

	.card-title {
		position: absolute;
		top: 36%;
		font-size: 2.0em;
		width: 100%;
		font-weight: bold;
	}

	.card-subtitle {
		font-size: 1.0em;
		position: absolute;
		top: 52%;
		width: 100%;
	}

}


}
