<!--
  Generated template for the ProductoPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title><ion-icon name="md-pricetags"></ion-icon></ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding class="card-background-page">


<h2 align="center">PRODUCTOS</h2>

<ion-card>
  <img src="../assets/imgs/ropa3.jpg">
  <div class="card-title"><button ion-button color="secondary" round (click)='otraPagina();'>Ingresar productos</button></div>
</ion-card>

<ion-card>
  <img src="../assets/imgs/ropa2.jpg"/>
  <div class="card-title"><button ion-button color="secondary" round (click)='nuevaPagina();'>Lista Productos</button></div>
</ion-card>


<ion-card>
  <img src="../assets/imgs/ropa.jpg"/>
  <div class="card-title"><button ion-button color="secondary" round (click)='categorias();'>Ingresar categoria</button></div>
</ion-card>


</ion-content>
