<ion-header>

  <ion-navbar>
    <ion-title>categoria</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>
	<h3 align="center">REGISTRO CATEGORIAS</h3>
<br>
  <ion-item>
    <ion-label color="primary" floating>Nombre Categoria</ion-label>
    <ion-input type="text" [(ngModel)]="categoriaitem.itemnomcategoria"></ion-input>
  </ion-item>
  <br>
 <button ion-button block (click)='agregac(categoriaitem);'>Agregar</button>

</ion-content>
