<ion-tabs>
  <ion-tab [root]="tab1Root" tabTitle="Inicio" tabIcon="home"></ion-tab>
  <ion-tab [root]="tab2Root" tabTitle="Tienda" tabIcon="md-basket"></ion-tab>
  <ion-tab [root]="tab4Root" tabTitle="Productos" tabIcon="md-cube"></ion-tab>
</ion-tabs>
